MODE=dev
CONN_POSTGRES=postgres://user:password@localhost:5432/database
KEYCLOAK_ISSUER_URL=http://localhost:8090/realms/multi-agent
BACKEND_PORT=8082

PAYOS_CLIENT_ID=
PAYOS_API_KEY=
PAYOS_CHECKSUM_KEY=
PAYOS_API_URL=

GHN_TOKEN=
GHN_SHOP_ID=
GHN_API_URL=

S3_BUCKET=
S3_REGION=
S3_ACCESS_KEY=
S3_SECRET_KEY=
S3_ENDPOINT=