
ENVIRONMENT="development"
MCP_SERVER_PORT="8081"

GROQ_API_KEY="------"
OPENAI_API_KEY="sk-proj--"


BACKEND_URL="http://localhost:8082/api/v1"
KEYCLOAK_ISSUER_URL="http://localhost:8090/realms/multi-agent"

DB_HOST=localhost
DB_PORT=5433
DB_USER=jiyuu_user
DB_PASSWORD=jiyuu_password
DB_NAME=ecommerce_db
DB_SSLMODE=disable
DB_MAX_CONNS=25
DB_MIN_CONNS=5

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_USERNAME=jiyuu
REDIS_PASSWORD=a2amcpgo
REDIS_POOL_SIZE=0
REDIS_DB=10
REDIS_MIN_CONNS=2


OTEL_SERVICE=mcp-server
OTEL_VERSION=1.0.0
OTEL_EXPORTER_OTLP_ENDPOINT=localhost:4318
OTEL_TRACES_SAMPLER_ARG=1.0
OTEL_ENABLE_TRACING=true
OTEL_ENABLE_METRICS=true

# Window powershell. Check: echo $env:GROQ_API_KEY
# export KEY="val" # linux