$env:GROQ_API_KEY="" # Window powershell. Check: echo $env:GROQ_API_KEY
$env:OPENAI_API_KEY="sk-proj--"
$env:BACKEND_URL="localhost:8080/api/v1"
$env:KEYCLOAK_ISSUER_URL="http://localhost:8090/realms/multi-agent"
# export KEY="val" # linux