$env:GEMINI_API_KEY="---"
$env:GEMINI_API_KEY="AQ.-"
$env:GROQ_API_KEY="---" 
$env:OPENAI_API_KEY="sk-proj--"
$env:KEYCLOAK_ISSUER_URL="http://localhost:8090/realms/multi-agent"

$env:BASE_URL_GROQ="https://api.groq.com/openai/v1"
$env:BASE_URL_OLLAMA=""
$env:AUTH_TOKEN="-.-.---------" # for dev test

$env:GEMINI_LLM="gemini-flash-2.5"
$env:GROQ_LLM="llama-3.3-70b-versatile"
$env:OPENAI_LLM="chatgpt-4o-mini"
$env:OLAMA_LLM="qwen2.5:3b"
